/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Noto Serif TC", serif;
  vertical-align: baseline;
  font-weight: 600;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  letter-spacing: 1px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1360px;
}
@media screen and (max-width: 1360px) {
  .container {
    padding: 0 20px;
  }
}

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  opacity: 0;
  transition: 1s ease;
}
@media screen and (max-width: 1180px) {
  nav {
    height: 60px;
    opacity: 1;
    transform: translateY(0%);
  }
}
nav .nav-left {
  margin-left: 20px;
  width: 200px;
}
@media screen and (max-width: 1180px) {
  nav .nav-left {
    display: none;
  }
}
nav .navbar {
  margin: 0;
  height: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1180px) {
  nav .navbar li:not(.logo) {
    display: none;
  }
}
nav .navbar .nav-active {
  position: absolute;
  left: 120px;
  top: 0;
  height: 0;
  transform: translateY(-10px);
  overflow: hidden;
  background: #fff;
  transition: height 0.5s ease;
}
@media screen and (max-width: 1400px) {
  nav .navbar .nav-active {
    left: 100px;
  }
}
nav .navbar .nav-active a {
  display: block;
  margin: auto;
  color: #c30e24;
}
nav .navbar .nav-shop {
  left: 240px;
}
@media screen and (max-width: 1400px) {
  nav .navbar .nav-shop {
    left: 200px;
  }
}
nav .navbar .nav-news {
  left: 426px;
}
@media screen and (max-width: 1400px) {
  nav .navbar .nav-news {
    left: 366px;
  }
}
nav .navbar .nav-QA {
  left: 546px;
}
@media screen and (max-width: 1400px) {
  nav .navbar .nav-QA {
    left: 466px;
  }
}
nav .navbar .nav-contact {
  left: 666px;
}
@media screen and (max-width: 1400px) {
  nav .navbar .nav-contact {
    left: 566px;
  }
}
nav .navbar li {
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  nav .navbar li {
    width: 100px;
  }
}
nav .navbar li:hover + .nav-active {
  height: 80px;
  pointer-events: none;
  transform: translateY(0px);
}
nav .navbar li a {
  margin: auto;
  color: #555;
}
nav .navbar li:first-child > a {
  color: #c30e24;
}
nav .navbar .logo {
  background-image: url("../assets/logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
nav .nav-member {
  margin-right: 20px;
  display: flex;
  align-items: center;
  width: 200px;
}
@media screen and (max-width: 1180px) {
  nav .nav-member {
    display: none;
  }
}
nav .nav-member .cart {
  width: 120px;
}
nav .nav-member a {
  line-height: 0px;
  color: #555;
  font-weight: 500;
  font-size: 14px;
}
nav .nav-member a:hover {
  color: #c30e24;
}
nav .nav-member span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #555;
  color: white;
}
nav .nav-box {
  display: none;
  margin-right: 10px;
  width: 60px;
  position: fixed;
  top: 0;
  right: 0;
}
@media screen and (max-width: 1180px) {
  nav .nav-box {
    display: block;
  }
}
nav .nav-box input {
  position: absolute;
  display: none;
}
nav .nav-box .nav-box-line {
  margin: auto;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 5;
}
nav .nav-box .nav-box-line .menu,
nav .nav-box .nav-box-line .menu::before,
nav .nav-box .nav-box-line .menu::after {
  content: "";
  width: 26px;
  height: 2px;
  background-color: #c30e24;
  position: absolute;
  top: 29px;
  right: 17px;
  transition: 0.8s ease;
}
nav .nav-box .nav-box-line .menu::before {
  top: -8px;
  right: 0;
}
nav .nav-box .nav-box-line .menu::after {
  top: 8px;
  right: 0;
}
nav .nav-box .menu-list {
  pointer-events: none;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #fff;
  position: relative;
  position: fixed;
  top: 60px;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: 0.5s ease;
}
nav .nav-box .menu-list .menu-icons {
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
nav .nav-box .menu-list .menu-icons a {
  margin: 0 5px;
  border-radius: 50%;
  background-color: #c30e24;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
nav .nav-box .menu-list .menu-icons i {
  color: #fff;
}
nav .nav-box .menu-list ul {
  padding: 0 60px 60px 60px;
}
nav .nav-box .menu-list ul li {
  padding: 20px 10px;
  border-bottom: 1px solid #e6e6e6;
}
nav .nav-box .menu-list ul li:hover a {
  color: #c30e24;
}
nav .nav-box .menu-list ul a {
  font-size: 16px;
  color: #393939;
  transition: 0.6s ease;
}
nav .nav-box #menu:checked + .nav-box-line .menu {
  background-color: transparent;
}
nav .nav-box #menu:checked + .nav-box-line .menu::before {
  transform: rotate(45deg);
  top: 0;
}
nav .nav-box #menu:checked + .nav-box-line .menu::after {
  transform: rotate(-45deg);
  top: 0;
}
nav .nav-box #menu:checked ~ .menu-list {
  opacity: 1;
  pointer-events: auto;
}

.enter-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #c30e24;
  z-index: 2;
  opacity: 1;
  transition: 0.8s ease-in;
}

.animation-fadeOut {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.nav-bottom {
  display: none;
  width: 100%;
  height: 70px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}
@media screen and (max-width: 1180px) {
  .nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav-bottom .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bottom .member {
  display: flex;
}
.nav-bottom .member li {
  position: relative;
  width: 70px;
  height: 70px;
}
.nav-bottom .member a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.nav-bottom .member a p {
  margin-top: -3px;
  font-weight: 500;
}
.nav-bottom .member a span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #555;
  color: white;
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 14px;
}
.nav-bottom .buy {
  height: 70px;
  width: 40%;
  background-color: #c30e24;
  line-height: 70px;
  text-align: center;
}
.nav-bottom .buy a {
  font-weight: 500;
  color: #fff;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.banner {
  background-image: url("../assets/banner.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.banner .banner-content {
  padding: 110px 0 30px 0;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1180px) {
  .banner .banner-content {
    padding-top: 65px;
  }
}
.banner .banner-content .banner-title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.banner .banner-content .banner-title div {
  margin-top: 56px;
  height: 325px;
  width: 106px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transform: translateY(-50px);
  opacity: 0;
  transition: 1s ease 0.5s;
}
.banner .banner-content .banner-title div p {
  color: #393939;
  writing-mode: vertical-rl;
}
.banner .banner-content .banner-title h2 {
  color: #c30e24;
  font-size: 53px;
  writing-mode: vertical-rl;
  padding-left: 30px;
  transform: translateY(-50px);
  opacity: 0;
  transition: 1s ease;
}
@media screen and (max-width: 1180px) {
  .banner .banner-content .banner-title h2 {
    font-size: 30px;
    line-height: 1.2;
  }
}
.banner .banner-content .banner-title h2 span:nth-of-type(1) {
  color: #8b8b8b;
  font-size: 14px;
  font-family: serif;
  font-weight: 500;
  letter-spacing: 2px;
}
.banner .banner-content .banner-title h2 span:nth-of-type(2) {
  margin-top: 56px;
  font-size: 42px;
}
@media screen and (max-width: 1180px) {
  .banner .banner-content .banner-title h2 span:nth-of-type(2) {
    font-size: 26px;
  }
}
.banner .banner-content .banner-title .fadeIn {
  opacity: 1;
  transform: translateY(0);
}
.banner .banner-content .banner-scrollDown {
  font-size: 14px;
  width: 90px;
  animation: scrollDown 0.8s ease alternate-reverse infinite;
}
.banner .banner-content .banner-scrollDown p {
  padding: 5px;
  text-align: center;
  color: #393939;
}
.banner .banner-content .banner-scrollDown p:nth-of-type(2) {
  border-top: 1px solid #c2c2c2;
  color: #8b8b8b;
  margin-bottom: 10px;
  letter-spacing: -1px;
  font-family: serif;
  font-weight: 500;
}
.banner .banner-content .banner-scrollDown span {
  position: relative;
  margin: auto;
  display: block;
  text-align: center;
  height: 46px;
  width: 2px;
  background-color: #393939;
}
.banner .banner-content .banner-scrollDown span:after {
  content: "";
  width: 2px;
  height: 10px;
  background-color: #393939;
  display: block;
  position: absolute;
  top: 36px;
  left: 4px;
  transform: rotate(45deg);
}

.line img {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 55px;
  height: 55px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: 1s ease;
  z-index: 1;
}
@media screen and (max-width: 1180px) {
  .line img {
    bottom: 80px;
    right: 10px;
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
.footer-content {
  background-color: #efefef;
  padding: 50px 0;
}
.footer-content .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #393939;
}
.footer-content .container .menu {
  transform: translateY(-30px);
  opacity: 0;
  transition: 1s ease;
}
.footer-content .container .menu p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer-content .container .menu ul {
  display: flex;
  flex-wrap: wrap;
}
.footer-content .container .menu ul li {
  height: 45px;
  padding-right: 40px;
}
.footer-content .container .menu ul a {
  color: #393939;
  font-size: 14px;
  transition: 0.6s ease;
}
.footer-content .container .menu ul a:hover {
  color: #c30e24;
}
.footer-content .container .contact {
  transform: translateY(-30px);
  opacity: 0;
  transition: 1s ease 0.5s;
}
.footer-content .container .contact p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer-content .container .contact li {
  height: 45px;
  font-size: 14px;
}
.footer-content .container .contact a {
  color: #393939;
  font-size: 14px;
  transition: 0.6s ease;
}
.footer-content .container .contact a:hover {
  color: #c30e24;
}
.footer-content .container .fadeIn {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 863px) {
  .footer-content .container .menu {
    margin-bottom: 20px;
  }
  .footer-content .container .menu,
  .footer-content .container .contact {
    width: 100%;
  }
  .footer-content .container .menu p,
  .footer-content .container .contact p {
    margin-bottom: 0;
  }
  .footer-content .container .menu ul li,
  .footer-content .container .contact ul li {
    height: 21px;
  }
}

.footer-bottom {
  padding: 15px 0;
  background-color: #c30e24;
  height: 40px;
  width: 100%;
}
@media screen and (max-width: 1180px) {
  .footer-bottom {
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 600px) {
  .footer-bottom {
    height: 74px;
  }
}
@media screen and (max-width: 484px) {
  .footer-bottom {
    height: 90px;
  }
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  color: #efefef;
}
@media screen and (max-width: 600px) {
  .footer-bottom .container {
    flex-direction: column;
  }
}
.footer-bottom .container small,
.footer-bottom .container a,
.footer-bottom .container p {
  font-size: 12px;
  color: #efefef;
  font-weight: 500;
  display: inline;
}
.footer-bottom .container .copyright {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .footer-bottom .container .copyright {
    flex-direction: column;
    align-items: start;
  }
}
.footer-bottom .container .copyright a:hover {
  text-decoration: underline;
}
.footer-bottom .container .link-line {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .footer-bottom .container .link-line {
    align-items: start;
  }
  .footer-bottom .container .link-line p {
    line-height: 28px;
  }
}
.footer-bottom .container .link-line a {
  background-color: #fff;
  color: #c30e24;
  font-weight: bolder;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 31px;
  text-align: center;
  font-size: 10px;
  transition: 0.5s ease;
  font-family: Arial;
  letter-spacing: -1px;
}
.footer-bottom .container .link-line a:hover {
  transform: translateY(-5px);
}

.index {
  overflow: hidden;
}
.index .products {
  padding: 80px 0;
  background-image: url("../assets/bg.jpg");
  width: 100%;
}
.index .products h3 {
  font-size: 28px;
  color: #c30e24;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 30px;
  transform: translateY(-30px);
  opacity: 0;
  transition: 1s ease;
}
.index .products h3 span {
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: #8b8b8b;
}
.index .products .fadeIn {
  opacity: 1;
  transform: translateY(0);
}
.index .product-content {
  padding: 16px 16px 0 16px;
  transform: translateY(-30px);
  opacity: 0;
  transition: 1s ease;
}
.index .product-content li {
  width: 31.02941%;
}
@media screen and (max-width: 576px) {
  .index .product-content li {
    width: 100%;
  }
}
.index .product-content li:hover img {
  transform: scale(1.2);
}
.index .product-content li div {
  width: 100%;
  overflow: hidden;
}
.index .product-content li img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.6s ease;
}
.index .product-content li h4 {
  padding: 10px;
  font-size: 18px;
  color: #393939;
  text-align: center;
}
.index .product-content li p {
  font-size: 14px;
  color: #555;
  font-weight: 500;
  text-align: center;
}
.index .product-items {
  margin: 40px 0;
  display: flex;
  padding: 0;
  transform: translateY(-30px);
  opacity: 0;
  transition: 1s ease;
  width: 100%;
}
@media screen and (max-width: 1180px) {
  .index .product-items {
    padding-inline-start: 0;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
.index .product-items li {
  width: 17.64705%;
  padding: 16px;
  flex: 0 0 auto;
}
@media screen and (max-width: 1180px) {
  .index .product-items li {
    width: 22.10982%;
  }
}
@media screen and (max-width: 899px) {
  .index .product-items li {
    width: 29.48347%;
  }
}
@media screen and (max-width: 576px) {
  .index .product-items li {
    width: 43.6708%;
  }
}
@media screen and (max-width: 380px) {
  .index .product-items li {
    width: 89.63731%;
  }
}
.index .product-items li:hover img {
  transform: translateY(10px);
}
.index .product-items li:hover div {
  transform: translateY(-10px);
}
.index .product-items li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.index .product-items li img {
  max-width: 100%;
  transition: 0.6s ease;
}
.index .product-items li div {
  transition: 0.6s ease;
  padding: 10px 0;
}
.index .product-items li p:nth-of-type(1) {
  color: #8b8b8b;
  font-weight: 500;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #c2c2c2;
  text-align: center;
}
.index .product-items li p:nth-of-type(2) {
  color: #393939;
  text-align: center;
}
.index .button-more {
  transform: translateY(-30px);
  opacity: 0;
  transition: 1s ease;
}
.index .button-more a {
  margin: auto;
  display: block;
  width: 178px;
  height: 42px;
  background-color: #c30e24;
  color: #fff;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
}
.index .news h3 {
  padding: 80px 0;
  text-align: center;
  font-size: 28px;
  color: #c30e24;
  transform: translateY(-30px);
  opacity: 0;
  transition: 1s ease;
}
.index .news h3 span {
  display: block;
  text-align: center;
  color: #8b8b8b;
  font-weight: 500;
  font-size: 14px;
}
.index .news .fadeIn {
  opacity: 1;
  transform: translateY(0);
}
.index .about {
  transform: scale(1.2);
  opacity: 0;
  transition: 1s ease;
  background-image: url("../assets/about.jpg");
  background-position: center center;
  background-size: cover;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index .about .about-content {
  padding: 120px 0;
  writing-mode: vertical-rl;
}
.index .about .about-content h3 {
  color: #c30e24;
  font-size: 30px;
  margin-left: 40px;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .index .about .about-content h3 {
    line-height: 1;
  }
}
.index .about .about-content h3 span:nth-of-type(1) {
  font-size: 14px;
  display: block;
  letter-spacing: 3px;
  transform: translateY(-18px);
}
.index .about .about-content h3 span:nth-of-type(2) {
  font-size: 20px;
  display: block;
}
.index .about .about-content p {
  font-size: 14px;
  line-height: 2;
  color: #393939;
}
@media screen and (max-width: 768px) {
  .index .about .about-content p {
    line-height: 1.2;
  }
}
.index .about .fadeIn {
  opacity: 1;
  transform: translate(1);
}
.index .fadeIn {
  opacity: 1;
  transform: translateY(0);
}/*# sourceMappingURL=all.css.map */